pyrofork>=2.3.0
tgcrypto
aiohttp
hachoir
numpy
Pillow
requests
olefile
motor
pytz
utils
pymongo
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
ffmpeg
aiofiles
pyromod
yt-dlp
pytube
flask
gunicorn==20.1.0
